<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Node Http Server</title>
<link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
<h1>Mis Datos en la plantilla</h1>
	{{{body}}}
	
</body>
</html>